* {
	margin: 0px;
	padding:  0px;
}

body {
	background-color: #fff;

}

header {
	position: fixed;
	top: 0px;
	font-family: Arial;
	width: 100%;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 1px 2px -2px gray;
}

nav ul {
	float: left;
}

nav ul li {
	text-align: center;
	list-style: none;
	float: left;
	width: 120px;
	height: 60px;
}

nav ul li a {
	text-decoration: none;
	color: #272727;
	font-weight: bold;
	font-size: 80%;
	display: inline-block;
	width: 120px;
	height: 60px;
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
}

div	{
	text-align: center;
}

div h1 {
	margin-top: 100px;
}

.btn {
	margin-top: 10px;
	width: 140px;
	height: 30px;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	background-color: #5492ff;
	color: #fff;
	cursor: pointer;
}

.btn:hover {
	background-color: #487ddb;
	-webkit-transition: background-color 130ms linear;
    -ms-transition: background-color 130ms linear;
    transition: background-color 130ms linear;
}

.home:hover {
	background-color: #f2f6ff;
	-webkit-transition: background-color 130ms linear;
    -ms-transition: background-color 130ms linear;
    transition: background-color 130ms linear;
}

.features:hover {
	background-color: #f2f6ff;
	-webkit-transition: background-color 130ms linear;
    -ms-transition: background-color 130ms linear;
    transition: background-color 130ms linear;
}

.pricing:hover {
	background-color: #f2f6ff;
	-webkit-transition: background-color 130ms linear;
    -ms-transition: background-color 130ms linear;
    transition: background-color 130ms linear;
}

.support:hover {
	background-color: #f2f6ff;
	-webkit-transition: background-color 130ms linear;
    -ms-transition: background-color 130ms linear;
    transition: background-color 130ms linear;
}

.blog:hover {
	background-color: #f2f6ff;
	-webkit-transition: background-color 130ms linear;
    -ms-transition: background-color 130ms linear;
    transition: background-color 130ms linear;
}